<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-6">
            <div class="row">
                <h3 class="text-primary">
                    Contact Us
                </h3>
            </div>
            <div class="row">
                <img src="~/Images/frame.png" class="img-fluid" style="width: 300px; height:300px;">

            </div>
            <div class="row">
                <div class="col-2 text-center">
                    <a href="https://music.youtube.com/"><i class="bi bi-youtube"></i></a>
                    <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                    <a href="https://x.com/X"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://github.com/"><i class="bi bi-github"></i></a>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="text-body" style="color:white">
                <p>
                    Hello, I'm Divyasnhu, a dedicated developer and the creative mind behind divtutorials.com. This website stands as a comprehensive tutorial hub, specializing in programming languages such as Java, HTML, CSS, JavaScript, Python, React.js, and more.
                </p>
                <p>
                    At divtutorials.com, I've cultivated a space not only for tutorials but also for fostering a vibrant community through a robust question and answer platform, reminiscent of Stack Overflow. As a developer myself, I understand the importance of a supportive environment for learning and problem-solving.

                </p>
                <p>
                    Join our growing community, where we embark on a shared journey of mastering programming languages and exchanging knowledge. Whether you're a seasoned developer or just starting, divtutorials.com is here to empower your learning experience. Welcome aboard!
                </p>
            </div>
            
        </div>
    </div>
</div>