<div class="container text-center justify-content-between align-middle mt-5">
    <div class="row mt-4 mb-4 text-left">
        <div class="col-6">
            <div class="row text-center">
                <h1 class="text-primary">
                    Contact Us
                </h1>
            </div>
            <div class="row text-center justify-content-center">
                <img src="~/Images/Screenshot 2024-09-30 173634.png" class="img-fluid" style="width: 300px; height:300px;">

            </div>
            <div class="row text-center justify-content-center">
                <div class="col-6 mt-3 text-center">
                    <a href="https://music.youtube.com/"><i class="bi bi-youtube me-2 ms-2 icon-large"></i></a>
                    <a href="https://www.instagram.com/"><i class="bi bi-instagram me-2 ms-2 icon-large"></i></a>
                    <a href="https://x.com/X"><i class="bi bi-twitter-x me-2 ms-2 icon-large"></i></a>
                    <a href="https://github.com/"><i class="bi bi-github me-2 ms-2 icon-large"></i></a>
                    <a href="https://www.facebook.com/login.php/"><i class="bi bi-facebook icon-large me-2 ms-2"></i></a>

                </div>
            </div>
        </div>
        <div class="col-6 mt-4 text-white">
            <div class="text-body text-white" style="color:white">
                <p class="text-white">
                    Hello, I'm Divyasnhu, a dedicated developer and the creative mind behind divtutorials.com. This website stands as a comprehensive tutorial hub, specializing in programming languages such as Java, HTML, CSS, JavaScript, Python, React.js, and more.
                </p>
                <p class="text-white">
                    At divtutorials.com, I've cultivated a space not only for tutorials but also for fostering a vibrant community through a robust question and answer platform, reminiscent of Stack Overflow. As a developer myself, I understand the importance of a supportive environment for learning and problem-solving.

                </p>
                <p class="text-white">
                    Join our growing community, where we embark on a shared journey of mastering programming languages and exchanging knowledge. Whether you're a seasoned developer or just starting, divtutorials.com is here to empower your learning experience. Welcome aboard!
                </p>
            </div>
            
        </div>
    </div>
</div>