@model DSTutorials1909.ViewModel.CourseViewModel

<div class="d-flex justify-content-between mt-3 mb-4">
    @if (string.IsNullOrEmpty(Model.PrevUrl))
    {
        <button disabled class="home btn btn-purple">Previous</button>
    }
    else
    {
        <a asp-controller="Main" asp-action="CourseDetails" asp-route-courseId="@Model.Courses.CoursesId" asp-route-submenuId="@Model.PrevUrl" class="home btn btn-purple">Previous</a>
    }

    @if (string.IsNullOrEmpty(Model.NextUrl))
    {
        <button disabled class="home btn btn-purple">Next</button>
    }
    else
    {
        <a asp-controller="Main" asp-action="CourseDetails" asp-route-courseId="@Model.Courses.CoursesId" asp-route-submenuId="@Model.NextUrl" class="next btn btn-purple btn-next">Next</a>
    }
</div>
